@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anta&family=Inconsolata:wght@200..900&family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body{
  background-image: linear-gradient(135deg,#062926, #04132b);
  height: 100vh;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.page-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(270deg,#0f726a, #092d68);
}


/*
=======================================
 Custom styles for the Markdown output
=======================================
*/
.preview-output a {
  color: #00FFFF;
}
.preview-output a:hover {
  color: #40E0D0;
}
.preview-output a:visited {
  color: #FF00FF;
}
.preview-output table {
  border: thin solid #FFFFFF;
}
.preview-output th {
  border: thin solid #FFFFFF;
  padding: 4px 8px;
  font-size: 16px;
}
.preview-output td {
  border: thin solid #FFFFFF;
  padding: 4px 8px;
  font-size: 15px;
}
.preview-output tbody{
  border: thin solid #FFFFFF;
}
.preview-output thead {
  border: thin solid #FFFFFF;
}
.preview-output blockquote {
  border-left: 3px solid #FFFFFF;
  padding-left: 10px;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  margin-left: 0;
  color: bisque;
}
.preview-output pre {
  background-color: #333;
  color: #f8f8f2;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
.preview-output code {
  background-color: #333;
  color: #f8f8f2;
  padding: 5px 8px;
  border-radius: 5px;
}
.preview-output ul {
  list-style-type: disc;
}
.preview-output ol {
  list-style-type: decimal;
}
.preview-output hr {
  border: 1px solid #FFFFFF;
}
